body {background-color:black;}
div{
    font-family: "Deja Vu sans mono", 'Driod sans mono', Tahoma, Verdana, Arial, sans-serif;
    color: #48E310;
    font-size: 11px;
    padding: 1px;
}
#wrap {
    font-size: 4;
}
.input-line {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: stretch;
  display: box;
  box-orient: horizontal;
  box-align: stretch;
  clear: both;
}

.cmdline {
  outline: none;
  margin: 0;
  width: 100%;
  font: inherit;
  border: none;
  font-size: 10px;
  background-color:inherit;
  color: inherit;
}

.prompt {

  white-space: nowrap;
  margin-right: 7px;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  display: box;
  box-pack: center;
  box-orient: vertical;
  -webkit-user-select: none;
  user-select: none;  
  color:inherit;

}

.history {
    display:inline-block;
    color:inherit;
}

